<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getBirthYear()}"></p>
<hr/>
<p>Books on hand:</p>
<div th:each="book: ${book}">
    <p th:text="${book.getTitle() + ' - ' + book.getAuthor()}">book</p>
</div>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Update"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>